# --- Python & Environment ---
logenv/
__pycache__/
*.pyc
*.pyo

# --- Forensic Data (Security) ---
# This catches the raw logs and the processed CSVs
*.evtx
*.csv
logs_collection/
triage_rules.json

# --- OS & Editor ---
.vscode/
.idea/
.DS_Store
Thumbs.db